<div *ngIf="dataLoaded==false" class="spinner-border text-success" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div class="mb-3">
    <label for="filterText" class="form-label"></label>
    <input type="text" [(ngModel)]="filterText" class="form-control" id="filterText" placeholder="Araç Ara...">
  </div>
  <div *ngIf="filterText.length>2" class="alert alert-success">
    {{filterText}} aranıyor...
  </div>
  <div>
    <div class="row my-3">
      <div class="col md-3">
  <select  class="form-select rounded-0"   [(ngModel)]="brandFilter"  [value]="brandFilter" >
    <option value="0">Marka Seçiniz</option>
    <option  *ngFor="let brand of brands" [value]="brand.id" [selected]="selectedBrand(brand.id)">{{brand.name}}</option>
  </select></div>
  <div class="col md-3">
  <select  class="form-select rounded-0" [(ngModel)]="colorFilter" [value]="colorFilter" >
    <option value="0">Renk Seçiniz</option>
    <option *ngFor="let color of colors" [value]="color.id" [selected]="selectedColor(color.id)">{{color.name}}</option>
  </select>
</div>
  <div class="col-lg">
<div class="d-grid">
  <button [disabled]="brandFilter == 0 || colorFilter == 0"  class="btn btn-success" routerLink="/car/{{ colorFilter }}/{{ brandFilter }}"  type="button">Filtrele</button>
  </div>
</div>
</div></div>
<tr>
    <h1>Araçlarımız   </h1>
</tr>
<div  class="row row-cols-1 row-cols-md-2 g-4">
<div (click)="SetCurrentCarDetail(car)"
routerLink="/car/cardetails/{{car.id}}" *ngFor="let car of cars |filterPipe:filterText"  class="card" style="width: fullwidth;">
<div style="width: fullwidth;">
    <img  src="{{imageUrl}}{{car.imagePath}}" class="card-img-top" alt="..."></div>
    <div class="card-body" >
      <h4 class="card-title">{{car.brandName}} {{car.description}}</h4>
      <p class="card-text">RentalCars ayrıcalığı ile kiralayın!</p>
      <div class="card-body">
          <div class="row">
              <div class="col-sm-3">
                  <h4 class="card-title " style="text-align: center;">Marka</h4>
                  <p class="card-text"  style="text-align: center;" >{{car.brandName |uppercase}}</p>
              </div>
              <div class="col-sm-3">
                <h4 class="card-title" style="text-align: center;">Model Yılı</h4>
                <p class="card-text"  style="text-align: center;" >{{car.modelYear}}</p>
            </div>
              <div class="col-sm-3">
                <h4 class="card-title" style="text-align: center;">Araç Rengi</h4>
                <p class="card-text"  style="text-align: center;" > {{car.colorName}}</p>
            </div>
              <div class="col-sm-3">
                  <h4 class="card-title " style="text-align: center;">Günlük Fiyat</h4>
                  <p class="card-text"  style="text-align: center;" >{{car.dailyPrice |currency:"₺"}} </p>
              </div>
              <div class="col-sm-3">
                <h4 class="card-title " style="text-align: center;">KDV'li Fiyat </h4>
                <p class="card-text"  style="text-align: center;" >{{car.dailyPrice |vatAdded:18|currency:"₺"}} </p>
              </div>
          </div>
    </div>
  </div>
  <div class="d-grid gap-5">
      <button class="btn btn-success" type="button">İncele</button>
  </div>
  
  </div>
  
 